body {
    font-family: Lato, Helvetica, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 /* *{ outline: 2px solid red }; */

.currency-container {
    background-color: #F8D800;
    height: 60%;
    width: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 30px;
}

.currency-container h1 {
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 42px;
}

.currency-container label {
    font-size: 20px;
    margin-bottom: 20px;
}

#currency-input {
    width: 40%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #000000;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
    border-radius: 5px;
}

#currency-input:focus {
    border-color: #555; /* highlight border */
    box-shadow: 0 0 5px 2px rgba(85, 85, 85, 0.3); /* subtle outline glow */
}

.dropdown-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dropdown-container select {
    max-width: 25%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}


.dropdown-container select:focus {
    border-color: #555;
    box-shadow: 0 0 5px 2px rgba(85, 85, 85, 0.3);
}

.convert-button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 42%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.convert-button:hover {
    background-color: #0056b3;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-container .message {
    font-weight: bold;
    outline: none;
}

.result-container .error {
    color: #730000;
}

.hide {
    display: none;
}